.header {
	font-family: 'Inter', sans-serif;
	background: var(--white);
}

.header_description {
	background: transparent;
	grid-column: span 2;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 62px;
}

.header__title {
	margin: 2.5rem 0;
	font-size: 3.125rem;
	line-height: 120%;
	color: var(--black);
}