.tabs {
	display: flex;
	flex-direction: column;
}

.tabs__input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.tabs__scroller {
	position: relative;
	margin-bottom: 13px;
}

.tabs__scroller::after {
	content: '';
	position: absolute;
	width: 100vw;
	height: 1px;
	bottom: -14px;
	left: -100px;
	right: 0;
	background-color: var(--grey-2);
}

.tabs__label {
	position: relative;
	cursor: pointer;
}

.tabs__label:not(:last-child) {
	margin-right: 40px;
}

.tabs__label::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 0;
	left: 50%;
	right: 50%;
	transform: translatex(-50%);
	bottom: -13px;
	background-color: var(--black);
	transition: all 0.3s ease 0s;
}

.tabs__content {
	padding-top: 50px;
	display: none;
	overflow-x: auto;
}

.tabs__input_html:checked~.tabs__scroller .tabs__label_html::after,
.tabs__input_css:checked~.tabs__scroller .tabs__label_css::after,
.tabs__input_html:focus~.tabs__scroller .tabs__label_html::after,
.tabs__input_css:focus~.tabs__scroller .tabs__label_css::after {
	width: 100%;
}

.tabs__input_html:checked~.tabs__content_html,
.tabs__input_css:checked~.tabs__content_css {
	display: block;
}