/* Стилизация аккордеона */

.accordion {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--black);
}

.accordion__item:not(:last-child) {
	margin-bottom: 8px;
}

details summary::-webkit-details-marker {
	display: none;
}

.accordion__item {
	margin: 0px auto;
	box-sizing: border-box;
	border: 1px solid var(--grey-3);
	padding: 24px 32px;
	border-radius: 8px;
	max-width: 730px;
}

.accordion__title {
	cursor: pointer;
	list-style: none;
}

.accordion__title::marker {
	display: none;
}

.accordion__description {
	margin: 0;
	margin-top: 16px;
}