/* Стилизация аккордеона */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.accordion {
	color: var(--black);
	width: 100%;
	max-width: 730px;
}

.accordion__item {
	box-sizing: border-box;
	border: 1px solid var(--grey-3);
	padding: 24px 32px;
	border-radius: 8px;
}

.accordion__item:not(:last-child) {
	margin-bottom: 8px;
}

.accordion__title {
	cursor: pointer;
	list-style: none;
}

.accordion__title::-webkit-details-marker {
	display: none;
}

.accordion__description {
	margin: 0;
	margin-top: 16px;
}