/* Стилизация кнопки */

.button {
	padding: 15px 15px 14px;
	border-radius: 8px;
	min-width: 189px;
	cursor: pointer;
	border: none;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.18;
	text-align: center;
	color: var(--white);
	transition: all 0.3s ease 0s;
}

/* primary-button */
.button_primary {
	background-color: var(--primary);
}

.button_preview {
	padding: 8px;
	font-size: 12px;
	min-width: 105px;
	margin-top: 10px;
	border-radius: 5px;
}

.button_primary:hover {
	background-color: var(--primary-btn-hover);
}

/* secondary-button */
.button_secondary {
	background-color: var(--secondary);
}

.button_secondary:hover {
	background-color: var(--secondary-btn-hover);
}

/* alternate-button */
.button_alternate {
	background-color: var(--white);
	color: var(--gray-4);
	border: 1px solid var(--grey-3);
}

.button_alternate:hover {
	background-color: var(--alternate-btn-hover);
	border: 1px solid var(--black);
}

/* disabled */
.button:disabled {
	opacity: .5;
	pointer-events: none;
}