.modal {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
}

.modal__body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

.modal__inner {
	width: 428px;
	padding: 30px 40px 33px;
	position: relative;

	background: var(--white);
	border-radius: 8px;
	font-family: 'Inter', sans-serif;
}

.modal__close {
	position: absolute;
	top: 15px;
	right: 15px;
	display: inline-block;
	cursor: pointer;
	line-height: 1;
	border: none;
	background: var(--white);
}

.modal__title {
	margin: 0;
	margin-bottom: 14px;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 600;
	color: var(--black-blue);
}

.modal__content {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--grey-4)
}