.page {
	display: flex;
	flex-direction: column;
	height: 100%;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--grey-0);
}

.page_description {
	display: grid;
	grid-template-rows: auto 1fr auto;
}