.page {
	display: flex;
	flex-direction: column;
	height: 100%;

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.page__header {}

.page__content {
	flex-grow: 1;
}

.page__footer {}