@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header';
@import '../../components/main/main';
@import '../../components/footer/footer';

:root {
    --white: #ffffff;
    --black: #212429;
    --highlight: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --dark-blue: #374FC7;
    --red: #F03D3E;
    --grey-0: #F9FAFC;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --orange: #D84910;

    --bacground: var(--grey-0);
    --notification: var(--orange);
    --error: var(--red);
    --success: var(--dark-blue);

    --primary: var(--blue);
    --primary-btn-hover: #2342C0;
    --secondary: var(--purple);
    --secondary-btn-hover: #5028C6;
}

body {
    font-family: 'Roboto', sans-serif;
}