@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/content/content.css';
@import '../../components/card/card.css';
@import '../../components/button/button.css';
@import '../../components/input/input.css';
@import '../../components/formgroup/formgroup.css';
@import '../../components/component-description/component-description.css';
@import '../../components/side-bar/side-bar.css';
@import '../../components/description-wrapper/description-wrapper.css';
@import '../../components/footer/footer.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --highlight: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --dark-blue: #374FC7;
    --black-blue: #334D6E;
    --grey-blue: #90A0B7;
    --white-blue: #eceffd;
    --red: #F03D3E;
    --grey-0: #F9FAFC;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #87888b;
    --orange: #D84910;

    --text-primary: var(--black);
    --text-active: var(--black);
    --main-bacground: var(--grey-0);
    --dark-bacground: var(--black);
    --secondary-bg: var(--white);

    --calendar: var(--black-blue);
    --calendar-day: var(--grey-blue);
    --calenar-between-bg: var(--white-blue);

    --notification: var(--orange);
    --error: var(--red);
    --success: var(--dark-blue);

    --primary: var(--blue);
    --primary-btn-hover: #2342C0;
    --secondary: var(--purple);

    --skeleton-background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

:root[data-theme-dark] {
    /* background: #000; */
    --text-primary: var(--grey-5);
    --text-active: var(--grey-1);
    --main-bacground: var(--grey-4);
    --secondary-bg: var(--black);
    --dark-bacground: var(--grey-1);
}

body,
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0 15px;
}