.radio {
	display: inline-block;
	position: relative;
}

.radio__input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.radio__state {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.radio__label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--grey-4);
	user-select: none;
}

.radio__control {
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid var(--grey-2);
}

.radio__control::after,
.radio__control::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	border-radius: 50%;
}

.radio__control::before {
	width: 18px;
	height: 18px;
	background: var(--blue);
}

.radio__control::after {
	width: 28px;
	height: 28px;
	border: 2px solid var(--blue);
	box-sizing: border-box;
}

.radio__input:checked~.radio__state .radio__control::before {
	content: '';
}

.radio__input:checked~.radio__state .radio__control::after {
	content: '';
}

.radio__input:disabled~.radio__state .radio__control {
	background: var(--grey-2);
}

.radio__input:focus~.radio__state .radio__label {
	text-decoration: underline;
}

.radio__input:disabled~.radio__state .radio__label {
	color: var(--grey-2);
}

.radio__input:disabled~.radio__state {
	cursor: default;
}