.footer {
	padding-top: 72px;
	padding-bottom: 136px;
	font-family: 'Inter', sans-serif;
	text-align: center;
	color: var(--text-primary);
	background: var(--secondary-bg);
}

.footer_description {
	background-color: var(--secondary-bg);
	padding: 56px 0;
}

.footer__title {
	font-size: 38px;
	line-height: 1.26;
	margin: 0;
	margin-bottom: 32px;
}

.footer__subtitle {
	max-width: 640px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	margin: 0px auto;
}