.footer {
	padding-top: 4.375rem;
	padding-bottom: 8.5rem;
	font-family: 'Inter', sans-serif;
	text-align: center;
	color: var(--black);
}

.footer__title {
	font-size: 2.375rem;
	line-height: 128%;
	margin: 0;
	margin-bottom: 2rem;
}

.footer__subtitle {
	max-width: 640px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin: 0px auto;
}