.side-bar {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}

.side-bar__title {
	margin: 0;
	margin-bottom: 16px;
	color: var(--extra-black);
	font-size: 20px;
	line-height: 1.3;
}

.side-bar__nav {
	margin-bottom: 32px;
}

.side-bar__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-bar__item {}

.side-bar__link {
	font-size: 14px;
	line-height: 1.57;
	text-decoration: none;
	color: var(--black);
}

.side-bar__link_selected {
	color: var(--notification);
}

.side-bar__link:hover {
	text-decoration: underline;
}

.side-bar__item:not(:last-child) {
	margin-bottom: 4px;
}