.checkbox {
	display: inline-block;
	position: relative;
}

.checkbox__input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.checkbox__state {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.checkbox__control {
	width: 28px;
	height: 28px;
	background: var(--white);
	border: 1px solid var(--grey-2);
	border-radius: 4px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox__icon {
	width: 28px;
	height: 28px;
	color: var(--white);
	display: none;
}

.checkbox__label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--grey-4);
	user-select: none;
}

.checkbox__input:checked~.checkbox__state .checkbox__icon {
	display: block;
}

.checkbox__input:checked~.checkbox__state .checkbox__control {
	background: var(--blue);
	border: 1px solid var(--blue);
}

.checkbox__input:focus~.checkbox__state .checkbox__label {
	text-decoration: underline;
}

.checkbox__input:disabled~.checkbox__state .checkbox__control {
	background: var(--grey-2);
}

.checkbox__input:disabled~.checkbox__state .checkbox__label {
	color: var(--grey-2);
}

.checkbox__input:disabled~.checkbox__state {
	cursor: default;
}