.formgroup {
	font-family: 'Inter';
	font-style: normal;
}

.formgroup__label {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--grey-3);
}

.formgroup__label_preview {
	font-size: 10px;
}

.formgroup__wrapper {
	position: relative;
}

.formgroup__input {}

.formgroup__icon {
	display: none;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}

.formgroup__icon_success {
	color: var(--success);
}

.formgroup__icon_error {
	color: var(--error);
}

.formgroup_success .formgroup__wrapper .formgroup__icon_success {
	display: block;
}

.formgroup_error .formgroup__wrapper .formgroup__icon_error {
	display: block;
}

.formgroup_error .formgroup__input {
	border: 1px solid var(--error);
}