.header {}

.header__logo {}

.header__menu {}

.header__bottom {}



.menu {}

.menu__title {}

.menu__icon {}

.menu__body {}

.menu__list {}

.menu__item {}

.menu__link {}



.icon-menu {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	padding: 0;
}

.icon-menu svg {
	display: inline-block;
	width: 12px;
	height: 12px;

}